
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  
  background-color: #333; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 300px;
}

.history-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.history-icon img {
  width: 70px;
 border-radius: 50%;
  cursor: pointer;
}

.result {
  background-color: #444;
  border: 1px solid #666;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: right;
}

.result h2 {
  margin: 0;
  font-size: 24px;
  color: #fff; 
}

.calculator-functions p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-num, .button-special, .button-clear {
  width: 70px;
  height: 50px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #666; 
  font-size: 18px;
  color: #fff; 
  cursor: pointer;
  margin-right: 3px;
}

.button-num:hover, .button-special:hover, .button-clear:hover {
  background-color: #888; 
}

.button-clear {
  width: 100%;
  background-color: #d32f2f; 
  color: #fff;
  border: none;
}

.button-clear:hover {
  background-color: #b71c1c;
}

@media (max-width: 320px) {
  .container {
    width: 100%;
    padding: 10px;
  }
  
  .button-num, .button-special, .button-clear {
    width: 25%;
    font-size: 14px;
  }
}  
